@charset "utf-8";
.wrap {
    width: 1000px;
    margin: 0 auto;
    background-color: lightblue;
}

.brand {
    width: 600px;
    margin: 0 auto;
}

.new {
    width: 606px;
    margin: 0 auto;
}

.title {
    text-align: center;
}