@charset "utf-8";
/** {
    border: 1px solid brown; 전체 박스 만들기
}*/
.wrap {
    width: 1000px;
    margin: 0 auto;
}

.bi {
    text-align: center;
}

.brand {
    width: 600px;
    margin: 0 auto;
}
.navi {
    text-align: center;
}

.new {
    width: 606px;
    margin: 0 auto;
}

.title {
    text-align: center;
}
.brand_text {
    text-align: center;
    border: 2px solid #333; /*테두리 선*/
    width: 400px;
    margin: 30px auto;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase; /*대문자로 변형 */
}
#footer {
    text-align: center; /*한꺼번에 센터로 옮기기(정렬,색상은 물려받기 가능)*/

}
.copyright {
    background-color: black;
    color: white;
    padding: 30px 0; /*상하 30, 좌우0 */
}